/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

