<div fxLayout="column" class="box">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card>
    <form [formGroup]="loginForm" novalidate autocomplete="off" (ngSubmit)="onSubmit()">
      <md-card-content>
        <md-form-field>
          <input type="text" mdInput placeholder="Email" formControlName="username" email>
          <md-error *ngIf="loginForm.get('username').hasError('email')">is not a email</md-error>
        </md-form-field>
        
        <md-form-field>
          <input type="password" mdInput placeholder="Password" formControlName="password" password>
          <md-error *ngIf="loginForm.get('password').hasError('repeatCharacterRegexRule')">Password contains repeating characters</md-error>
          <md-error *ngIf="loginForm.get('password').hasError('digitCharacterRule')">Password should contain at least on digit</md-error>
          <md-error *ngIf="loginForm.get('password').hasError('alphabeticalCharacterRule')">Password should contain at least on alphabetical character</md-error>
          <md-error *ngIf="loginForm.get('password').hasError('lowercaseCharacterRule')">Password should contain at least one lowercase character</md-error>
          <md-error *ngIf="loginForm.get('password').hasError('uppercaseCharacterRule')">Password should contain at least one uppercase character</md-error>
        </md-form-field>
        <button type="submit" [disabled]="!loginForm.valid" md-raised-button color="primary" class="login-button">Login</button>
      </md-card-content>
      <md-card-footer>
        <span> Not a member? </span><button md-button type="button">Sign up now</button>
      </md-card-footer>

    </form>
  </md-card>
</div>