.box {
  max-width: 350px;
  margin: auto;
  position: relative;
  top: 40px;
  left: 0;
  right: 0
}
 .mat-card {
   height: 270px;
 }

 .mat-form-field {
   width: 100%;
   margin-bottom: 16px;
 }



 .login-button {
   width: 100%;
   margin:24px auto;
   font-size: 18px;
   font-weight: 900;
   height: 48px;
 }

 .mat-toolbar {
   height: 65px;
 }

.mat-card-footer {
  margin: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}