<md-toolbar color="primary">
  <nav class="app-nav">
    <button md-button *ngFor="let navItem of navItems"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
         [routerLink]="[navItem.route]">{{navItem.name}}</button>
    <div class="flex-spacer"></div>
    <button md-button (click)="onLogout()"> Logout</button>
  </nav>
</md-toolbar>
<router-outlet></router-outlet>

