<md-card>
  <md-card-title>Contacts</md-card-title>
  <md-card-content>
    <md-table #table [dataSource]="dataSource">

      <ng-container mdColumnDef="_id">
        <md-header-cell *mdHeaderCellDef> No. </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element._id}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="tel">
        <md-header-cell *mdHeaderCellDef> Tel </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.tel}} </md-cell>
      </ng-container>

      <ng-container mdColumnDef="email">
        <md-header-cell *mdHeaderCellDef> Email </md-header-cell>
        <md-cell *mdCellDef="let element"> {{element.email}} </md-cell>
      </ng-container>

      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </md-card-content>

</md-card>